#version 1.0 - Written by Alfredo Jo ® - 2024

^
+----------------------------------------------------+
|                     WARNING!!                      |
|      Network nodes are managed with Ansible        |
|     Local config changes will be overwritten.      |
|    Contact "contact Inforatmaion" for support      |
|                                                    |
+----------------------------------------------------+
 ** You are trying to access $(hostname).$(domain) **
^
